# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
.env.test
.venv
env/
venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Docker
*.log

# IDE
.vscode/
.idea/
.DS_Store

# Database
pg_data/