services:
  db:
    image: postgres:16
    container_name: password_manager_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  db_test:
    image: postgres:16
    container_name: password_manager_db_test
    restart: unless-stopped
    environment:
      POSTGRES_DB: password_manager_test
      POSTGRES_USER: pm_test_user
      POSTGRES_PASSWORD: pm_test_password
    ports:
      - "5433:5432"


  backend:
    build: ./backend
    container_name: password_manager_backend
    restart: always
    depends_on:
      - db
    environment:
      SECRET_KEY: ${BACKEND_SECRET_KEY}
      SECRET_ENCRYPTION_KEY: ${SECRET_ENCRYPTION_KEY}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: password_manager_frontend
    restart: always
    ports:
      - "3000:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  pg_data:
