.Secrets {
  &Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &SearchBar {
    position: relative;
    margin-bottom: 1rem;
    &Input {
      width: 100%;
      padding: 0.5rem;
      padding-right: 2.5rem;
      box-sizing: border-box;
    }
    &Loading {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.8rem;
      color: #999;
    }
  }
  &Table {
    &Loading {
      text-align: center;
      padding: 2rem;
      color: #999;
    }
    &Content {
      transition: opacity 0.2s;
      &Table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        &Thead {
          &Tr {
            background-color: "#f5f5f5";
            &Title {
              padding: 0.5rem;
              cursor: pointer;
              user-select: none;
            }
            &Actions {
              padding: 0.5rem;
            }
          }
        }
        &Tbody {
          &Tr {
            transition: background-color 0.1s;
            &:hover {
              background-color: "#f9f9f9";
            }
            &Td {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
  &Pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}