.formSecret {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  &Div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &Name {
      font-family: "Helixa", sans-serif;
      font-weight: 300;
    }
    &Input {
      box-shadow: 2px 2px 4px var(--less-black);
      padding: 10px;
      border: 1px solid var(--pm-color-cinnamon-950);
      border-radius: 5px;
    }
  }
  &Button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: "Helixa", sans-serif;
    font-weight: 900;
    background: var(--pm-color-cinnamon-950);
    color: var(--pm-color-cinnamon-50);
    border-radius: 5px;
    border: 1px solid var(--pm-color-cinnamon-950);
    font-size: var(--pm-text-height-16);
    padding: 5px 0;
    box-shadow: 2px 2px 4px var(--less-black);
    transition: box-shadow 0.2s ease-in-out;
    
    &:hover {
      box-shadow: none;
    }
  }
}