.Modal {
  &Background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  &Content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &Title {
      font-family: "Helixa", sans-serif;
      font-weight: 900;
      font-size: var(--pm-text-height-24);
      &Info {
        font-size: var(--pm-text-height-14);
        font-family: "Helixa", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
    }
    &Button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-family: "Helixa", sans-serif;
      font-weight: 900;
      background: var(--pm-color-cinnamon-100-25);
      color: var(--pm-color-cinnamon-950);
      border-radius: 5px;
      border: 1px solid var(--pm-color-cinnamon-950);
      font-size: var(--pm-text-height-16);
      padding: 5px 0;
      box-shadow: 2px 2px 4px var(--less-black);
      transition: box-shadow 0.2s ease-in-out;
      width: 100%;
      
      &:hover {
        box-shadow: none;
      }
    }
  }
}
