.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Dashboard {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--pm-color-cinnamon-950);
    border-radius: 8px;
    color: var(--pm-color-cinnamon-50);
    &Title {
      font-family: "Helixa", sans-serif;
      font-weight: 900;
      margin: 0 0 0.5rem 0;
    }
    &User {
      font-family: "Helixa", sans-serif;
      font-weight: 400;
      margin: 0;
      color: #666;
      font-size: 0.9rem;
    }
    &Deconnect {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      background-color: #dc3545;
      color: var(--pm-color-cinnamon-50);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #c82333;
      }
    }
  }
  &Secrets {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--less-black);
  }
}